<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <!--<div class="footer-col one-half">-->
      <!--<h2 class="footer-heading">{{ site.title | escape }}</h2>-->
        <!--<ul class="contact-list">-->
          <!--<li class="p-name">-->
            <!--{%- if site.author -%}-->
              <!--{{ site.author | escape }}-->
            <!--{%- else -%}-->
              <!--{{ site.title | escape }}-->
            <!--{%- endif -%}-->
            <!--</li>-->
            <!--{%- if site.email -%}-->
            <!--<li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>-->
            <!--{%- endif -%}-->
        <!--</ul>-->
      <!--</div>-->

      <div class="footer-col one-third">
        <p>{{- site.description | escape -}}</p>
      </div>

      <div class="footer-col one-third">
        <!-- <p>{{- site.copyright -}}</p>  -->
        <a href="http://www.clustrmaps.com/map/chunpai.github.io" title="Visitor Map for chunpai.github.io"><img src="//www.clustrmaps.com/map_v2.png?u=8mXs&d=hp0qPAkj3z4eRQFd2d6_y7Nnzj1tyuw5qyh8qsRP7bw" height="1" width="1"/></a>
      </div>

      <div class="social-links">
        {%- include social.html -%}
      </div>


    </div>

  </div>

</footer>
