---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">
          {{ post.date | date: date_format }}

        {% for tag in post.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
          <a class="post-tag" href="/tags/{{ tag_name }}"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
        {% endfor %}
        </span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h2>

        <h3 class="post-excerpt">
        {%- if site.show_excerpts -%}
          <a class="post-excerpt" href="{{ post.url | relative_url }}">
            {{ post.excerpt }}</a>
        {%- endif -%}
        </h3>

      </li>

      {%- endfor -%}
    </ul>

    <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p>
  {%- endif -%}

</div>
